.aviso{
    color: #9F6000;
    background-color: #FEEFB3;
    border:2px #9F6000 solid;
    -o-border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}

.sucesso{
    border:2px #C6D880 solid;
    background-color:#E6EFC2;
    color:#264409;
    -o-border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;    
}

.falha{
    border:2px #D8000C solid;
    color:#D8000C;
    background-color:#FFBABA;
    -o-border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;    
}

.mailto:hover,
#botao-voltar:hover{
    color:#F47E1E;
}

.centro{
    width:985px;
    margin:auto;
}

.centropad{
    width:955px;
    margin:auto;
    padding:0 15px;
}

.negrito{ font-weight:bold;}

#form-wrapper{
    min-height: 107px;
    position:relative;
    z-index:1;
}
#form-resposta{
    display:none;
    height: 64px;
    line-height: 64px;
    text-align:center;
    font-family:'Bliss','Arial',sans-serif;
    font-weight:bold;
    font-size:18px;
}

.twtr-hd h3{ background:none !important;}

#superior{
    background:url('../_imgs/layout/bg-topo.jpg') #f6f6f6 left top repeat-x;
}
#superior #topo.pt_centro{ background:url('../_imgs/layout/marca-ciab-pt.png') transparent 20px top no-repeat; }
#superior #topo.en_centro{ background:url('../_imgs/layout/marca-ciab-pt.png') transparent 20px top no-repeat; }
#superior #topo.es_centro{ background:url('../_imgs/layout/marca-ciab-pt.png') transparent 20px top no-repeat; }
#superior a.logo{
    width:250px;
    height:150px;
    display: block;
    position:absolute;
    top:0;
    left:20px;
}
img.img-fbb{
    position:absolute;
    right:0;
    top:25px;
}
#faixa-topo{
    height: 8px;
    border-bottom: 1px #f4f4f3 solid;
    background-color:#f07e18;
}
 
#faixa-topo .cor{
    width:20%;
    float:left;
    -o-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    behavior:url('PIE.htc');
    height: 100%;
    position:relative;
    top:0;
    left:0;
}
#faixa-topo .cor.verde{ background-color:#8bd20e; z-index: 99;}
#faixa-topo .cor.azul{ background-color:#079db9; margin-left:-5px; z-index: 89;}
#faixa-topo .cor.vermelho{ background-color:#214f8e; margin-left:-5px; z-index: 79;}
#faixa-topo .cor.laranja{ background-color:#e41323; margin-left:-5px; z-index: 69;}

#topo{
    height: 168px;
    position:relative;
    /* TrebuchetMS */
}
#topo .logo{
    float:left;
    margin-top:15px;
}
#topo .imagem-topo{
    float:right;
    margin-top:23px;
}
#topo div{
    position:absolute;
    right:0;
    bottom:0;
    height: 48px;
    /*width: 480px;*/
    background:url('../_imgs/layout/bg-linguagem.png') 363px 3px no-repeat;
}
#topo div form,
#topo div a{float:left;}
#topo div a.icones{ margin:7px; }
#topo div a.icones.divisao{ margin-right:13px;}
#topo div a.icones.ultimo{margin-right:0;}
#topo div form{
    width:300px;
    height: 100%;
    margin-right:4px;
    background:url('../_imgs/layout/bg-busca.png') top left no-repeat;
}
#topo div form input{
    float:left;
    border:0;
    margin:0;
    padding:0;
    background:none;
}
#topo div form input[type="text"]{
    margin-top:13px;
    font-size:14px;
    margin-left:16px;
    width:240px;
    color:#00427a;
}
/*::-webkit-input-placeholder{color:#00427a;}
:-moz-placeholder{color:#00427a;}*/

#topo div form input[type="submit"]{
    margin-top:7px;
    width:34px;
    height: 28px;
}
#topo div form input[type="submit"]:hover{cursor:pointer;}

nav{ font-size:0; position:relative;}
nav ul{
    list-style: none;
    height: 42px;
    box-shadow: 0 0 4px #000;
    font-family:'Bliss';
    font-weight: bold;
    font-size: 0;
    background-color: #01427A;
    -o-border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    position:relative;
    behavior:url('PIE.htc');
    white-space:nowrap;
}
nav ul li{
    display: inline-block;
    *display:inline;
    zoom:1;
    vertical-align:top;
    height: 42px;
    line-height: 42px;
    position:relative;
}
nav ul li a{
    behavior:url('PIE.htc');
    position:relative;
    text-decoration: none;
    color:#FFF;
    display:block;
    padding:0 11px;
    font-size: 14px;
}
nav ul li a:active, nav ul li a:visited{ color:#FFF;}
nav ul li#mn-evento a{
    -o-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;
    padding-left:14px;
}
nav ul li#mn-contato a{
    -o-border-radius:0 8px 8px 0;
    -webkit-border-radius:0 8px 8px 0;
    -moz-border-radius:0 8px 8px 0;
    border-radius:0 8px 8px 0;
    padding-right:17px;
}

nav ul li:hover a,
nav ul li.ativo a{
    background-image:url('../_imgs/layout/bg-menu.png'), url('../_imgs/layout/borda-bg-menu.png'), url('../_imgs/layout/borda-bg-menu.png');
    background-position:left -1px, left top, right top ;
    background-repeat:repeat-x, no-repeat, no-repeat;
}
nav ul li a:hover,
nav ul li.ativo a.ativo{
    -pie-background:url('_imgs/layout/borda-bg-menu.png') left top no-repeat, url('_imgs/layout/bg-menu.png') 0px -1px repeat-x, url('_imgs/layout/borda-bg-menu.png') right top no-repeat;
    position:relative;
}
nav ul li#mn-evento:hover a,
nav ul li#mn-evento.ativo a{
    background-image:url('../_imgs/layout/bg-menu.png'), url('../_imgs/layout/borda-bg-menu.png');
    background-position:left -1px, right top ;
    background-repeat:repeat-x, no-repeat;
    -pie-background:url('_imgs/layout/bg-menu.png') left -1px repeat-x, url('_imgs/layout/borda-bg-menu.png') right top no-repeat;
    position:relative;
}
nav ul li#mn-contato:hover a,
nav ul li#mn-contato.ativo a{
    background-image:url('../_imgs/layout/bg-menu.png'), url('../_imgs/layout/borda-bg-menu.png');
    background-position:left -1px, left top ;
    background-repeat:repeat-x, no-repeat;
    -pie-background:url('_imgs/layout/bg-menu.png') left -1px repeat-x, url('_imgs/layout/borda-bg-menu.png') left top no-repeat;
    position:relative;
}

.es_body nav ul li a{
    padding:0 7px;
}
.es_body nav ul li#mn-contato a{
    padding-left:15px;
    padding-right:17px;
}

footer{
    border-top:10px #d6d6d6 solid;
    background-color:#e5e5e5;
    min-height:300px;
}

footer .centropad{
    margin-top:-10px;
    border-top:10px #c6c7c9 solid;
}

h1{
    font-family:'Bliss','Arial',sans-serif;
    font-weight: bold;
    font-size: 21px;
    color:#00427a;
}
h1.titulo-patrocinio{
    margin-top:-10px;
    margin-bottom:5px;
    width:180px;
    border-top:10px #00427a solid;
}

h2{
    margin-top:10px;
    font-family: 'Bliss','Arial',sans-serif;
    font-size:21px;
    color:#716e6e;
}


.sombra-grande{background:url('../_imgs/layout/sombra-grande.png') top left repeat-x;padding-top:16px;}
.sombra-grande-fundo{background:url('../_imgs/layout/sombra-grande-fundo.png') top left repeat-x;padding-top:20px;}
.sombra-pequena{background:url('../_imgs/layout/sombra-pequena.png') top left repeat-x;padding-top:20px;}
.sombra-pequena-invertida{background:url('../_imgs/layout/sombra-pequena-invertida.png') bottom left repeat-x;padding-bottom:5px;}
.sombra-grande-invertida{background:url('../_imgs/layout/sombra-grande-invertida.png') bottom left repeat-x;padding-bottom:16px;}
.sombra-grande-fundo-invertida{background:url('../_imgs/layout/sombra-grande-fundo-invertida.png') bottom left repeat-x;padding-bottom:16px;}

address{
    margin:20px auto 0 auto !important;
    height: 92px;
    border-top:10px #c6c7c9 solid;
    border-bottom:8px #c6c7c9 solid;    
    background:url('../_imgs/layout/bg-rodape.jpg') #c5c6c8 right top no-repeat;
    position:relative;
}

address #link-febraban{
    position:absolute;
    right:0;
    top:0;
    width:234px;
    height:94px;
}

address .borda-wrapper{
    height: 52px;
    border-top:1px #fff solid;
    border-bottom:1px #fff solid;
    padding:20px;
    font-family: 'Bliss','Arial',sans-serif;
    color:#003366;
    font-size:12px;
    line-height: 130%;
}
address .borda-wrapper ul{ list-style: none; height: 20px; margin-bottom:10px;}
address .borda-wrapper ul li{ font-weight:bold; float:left;height: 20px; line-height: 20px;}
address .borda-wrapper ul li a{ text-decoration: none; color:#003366;}
address .borda-wrapper ul li a:active,
address .borda-wrapper ul li a:visited{color:#003366;}
address .borda-wrapper ul li a:hover,
address .borda-wrapper ul li.footerativo a,
address .borda-wrapper a:hover{ color:#FFF;}
address .borda-wrapper a{ text-decoration: none;}
address .borda-wrapper a,
address .borda-wrapper a:active,
address .borda-wrapper a:visited{
    color:#003366;
}
/*address .borda-wrapper a:hover{}*/


#container{
    font-size:0;
    margin:20px 0;
}

#menu-lateral{
    display: inline-block;
    *display:inline;
    zoom:1;
    vertical-align:top;
    width:280px;
    font-size: 11px;
}

#menu-lateral h3{
    padding-left: 15px;
    background:url('../_imgs/layout/sinal-mais.png') transparent left center no-repeat;
    font-family:'Bliss','Arial',sans-serif;
    font-weight: bold;
    color:#00427a;
    font-size:32px;
    line-height: 100%;    
}

#menu-lateral h4{
    padding-left: 15px;
    background:url('../_imgs/layout/sinal-mais.png') transparent left 3px no-repeat;
    font-family:'Bliss','Arial',sans-serif;
    font-weight: bold;
    color:#00427a;
    font-size:19px;
    line-height: 100%;     
}

.box .texto{
    height: 66px;
    padding:105px 25px 0 35px;
    line-height: 130%;
    background:url('../_imgs/layout/inscricoes.png') center top no-repeat;
    margin-bottom:30px;
    font-family: 'Arial',sans-serif;
}
.box .texto.tam{
    background:url('../_imgs/tam.png') center top no-repeat !important;
}
.box a{
    text-decoration: none;
    display:block;
    height:171px;
    margin-bottom:25px;
}
.box a:active, .box a:visited, .box a{color:#6b6d6e;}
.box a:hover{ cursor:pointer; color:#00427A;}

.faixa-sobre-titulo{
    background-color:#dadada;
    height: 3px;
    margin:10px 0 15px 0;
}
.faixa-sobre-titulo div{
    float:left; border-right:1px #f7f7f5 solid; background-color: #00427a; height: 3px; width:16px; 
}

#twtr-widget-1{margin-top:10px;}
#twtr-widget-1 .twtr-tweet-text p{ font-size:11px;}

#menu-lateral p{
    font-family:'Bliss','Arial',sans-serif;
    font-size:18px;
    color:#00427a;
}
#menu-lateral input[type="email"],
#menu-lateral input[type="text"]{
    margin:0;
    padding:0;
    border:0;
    background-color:#fff;
    width:264px;
    margin:3px 0 3px 5px;
    padding:0 0 0 6px;
    height: 28px;
    line-height: 28px;
    border:1px #ccc solid;
    font-size:11px;
    color:#6a7175;
}
#menu-lateral input[type="submit"]{
    display:block;
    border:0;
    padding:3px 7px 3px 49px;
    background:url('../_imgs/home/seta-submit.png') transparent 4px 6px no-repeat;
    height:42px;
    line-height:37px;
    margin:3px 0 3px 5px;
    font-family:'Bliss','Arial',sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:#00427a;
    -o-border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    behavior:url('PIE.htc');
}
#menu-lateral input[type="submit"]:hover{
    cursor:pointer;
}

.conteudo{
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align: top;
    margin-left:30px;
    width:645px;
}

#compartilhe{
    margin:4px 0;
    text-align:right;
    font-family:'Bliss','Arial',sans-serif;
    font-weight:bold;
    color:#0095da;
    height: 24px;
    line-height: 24px;
    width:100%;
    margin-left:30px;
}
#compartilhe .label{ vertical-align:top; display:inline-block; padding-right:10px;font-size:16px;}
.fb-like{ float:right; vertical-align:top;clear: both;}
#compartilhe .espacador{ padding:0 5px; font-size:16px; height:15px;}

#veja-mais{
    font-family:'Bliss','Arial',sans-serif;
    font-size:28px;
    color:#00427a;
    padding:20px;
    margin-bottom:50px;
    margin-top:30px;
    position:relative;
    z-index:1;
}
#veja-mais h1{
    margin-left:30px;
    padding-bottom:20px;
}

#veja-mais .veja-mais-link{
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:top;
    width:275px;
    height:115px;
    padding:100px 10px 0 10px;
    border:1px #d2d2d2 solid;
    -o-border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;
    behavior:url('PIE.htc');
}

#veja-mais a{text-decoration:none;}

#veja-mais h2{
    padding-left: 15px;
    background:url('../_imgs/layout/sinal-mais.png') transparent left 3px no-repeat;
    font-family:'Bliss','Arial',sans-serif;
    font-weight: bold;
    color:#00427a;
    font-size:19px;
    line-height: 100%;
    margin-bottom:5px;
}
#veja-mais h3{
    font-family:'Trebuchet MS','Arial',sans-serif;
    font-size:14px;
    color:#00427a;
    line-height: 100%;
}
#veja-mais p{
    font-family:'Arial',sans-serif;
    font-size: 11px;
    color: #6a7175;
    margin-top:3px;
}

#veja-mais .veja-mais-link:hover{ border:1px #00427a solid; }
#veja-mais .veja-mais-link:hover p{ color:#00427a; }


#navegacao{
    text-align:center;
    font-family:'Trebuchet MS','Arial',sans-serif;
    font-size:16px;
    line-height: 29px;
    clear:both;
}

#navegacao a{
    text-decoration:none;
    color:#908989;
}
#navegacao a:active, #navegacao a:visited{color:#908989;}
#navegacao a:hover{ color:#F47E1E; }
#navegacao a.pagina-ativa{ font-weight:bold; color:#00427a;}

.seta{
    width:31px;
    height:29px;
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align: top;
}
.seta a{ display:block; height:100%;}
.seta:hover{ cursor:pointer;}
#nav-direita{ background:url('../_imgs/layout/seta-paginacao-direita.png') transparent center center no-repeat;margin-left:10px;}
#nav-direita:hover{ background:url('../_imgs/layout/hover-seta-paginacao-direita.png') transparent center center no-repeat;}
#nav-esquerda{background:url('../_imgs/layout/seta-paginacao-esquerda.png') transparent center center no-repeat;margin-right:10px;}
#nav-esquerda:hover{ background:url('../_imgs/layout/hover-seta-paginacao-esquerda.png') transparent center center no-repeat;}