#menu-lateral h3{ margin-bottom:20px; }


.noticia{
    width:100%;
    min-height: 110px;
    clear: left;
    padding:15px 0 20px 0;
    border-top:1px #dadada solid;
}
.noticia:first-child{ border-top:none;}
.noticia img{
    float:left;
    margin-right:20px;
}

.noticia a{
    text-decoration:none;
    color:#6a7175;
}

.noticia h1{
    font-size:16px;
    font-family:'Trebuchet MS','Arial',sans-serif;
    color:#00427a;
    line-height: 110%;
}

.noticia h2{
    font-size:11px;
    font-family:'Arial',sans-serif;
    color:#00427a;
    margin:3px 0;
    line-height: 110%;
}
.noticia p{
    line-height: 130%;
    font-size:11px;
    font-family:'Arial',sans-serif;
}
.lista-clipping{
    padding:20px 0;
    border-top:1px #d3d3d3 solid;
    font-size:12px;
    color:6a7175;
    font-family: 'Arial',sans-serif;
}

.lista-clipping:first-child{
    padding-top:0;
}
.lista-clipping h2{
    font-family:'Trebuchet MS','Arial',sans-serif;
    font-weight: bold;
    font-size:16px;
    color:#00427a;
    margin:0;
}
.lista-clipping a{
    text-decoration: none;
    color:#6a7175;
}
.lista-clipping a:active,
.lista-clipping a:visited{color:#6a7175;}

p.destaque a{
    text-decoration: none;
    font-weight: bold;
    color:#6a7175;
}
p.destaque:hover{
    
}
p.destaque a:active,
p.destaque a:visited{color:#6a7175;}