#menu-lateral h3{ margin-bottom:20px;}
#resposta-target{ text-align:center; padding-top:25px;}

.coluna{
    width:48%;
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align: top;
    font-size:13px;
    line-height:130%;
    font-family:'Arial',sans-serif;
    color:#6b6d6e;
}
.coluna a{ text-decoration:none; font-weight:bold;}
.coluna a,
.coluna a:active,
.coluna a:visited{
    color:#6b6d6e;
}
.coluna a:hover{ color:#F47E1E; }
.coluna:first-child{ line-height:150%;}
.coluna h1{
    margin-bottom:15px;
}

strong{ color:#00427a; }

.botao{
    position:relative;
    display:inline-block;
    *display:inline;
    zoom:1;    
    height: 43px;
    line-height: 43px;
    padding:0 20px;
    font-family:'Bliss','Arial',sans-serif;
    font-weight:bold;
    font-size:16px;
    color:#FFF !important;
    -o-border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    behavior:url('PIE.htc');
    text-decoration: none;
    margin-top:20px;
    background-color:#0095da;
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(248, 248, 248, .3)));
}
.botao:hover{
    text-decoration: none !important;
    cursor:pointer;
}
.botao-escuro{
    position:relative;
    background-color:#00427a;
    border:none;
    clear: both;
}

#form-contato{
    margin:30px 0;
}
#form-contato p{
    font-size:13px;
    font-family:'Trebuchet MS','Arial',sans-serif;
    color:#00427a;
    display:block;
    margin:10px 0;
}
#form-contato label{
    display:block;
    height: 20px;
    line-height: 20px;
    padding:5px 0;
    text-align:right;
    font-family:'Arial',sans-serif;
    font-size:13px;
    color:#00427a;
    margin-right:80px;
}
#form-contato select,
#form-contato textarea,
#form-contato input[type="text"]{
    width:400px;
    height: 20px;
    float:right;
    float:none\9;
    margin:0 0 0 15px;
    border:1px #c7c7c7 solid;
    background-color:transparent;
    padding:0 0 0 5px;
    color:#6b6d6e;
    font-family:'Arial',sans-serif;
    font-size:13px;
}
#form-contato select{
    background-color:#F7F7F6;
    width:407px;
}
#form-contato textarea{ height:80px; resize:none;}
input[type="submit"]{
    margin-top:20px;
    margin-top:60px\9;
    margin-left:157px;
}