#resposta-target{ text-align:center; }

.submenu-premios{
    margin:8px 0 35px 0;
    list-style: none;
    font-family:'Bliss','Arial',sans-serif;
    font-size:16px;
    font-weight: bold;
}

.submenu-premios li{
    height:29px;
    line-height: 29px;
    
}

.submenu-premios li a{
    text-decoration:none;
    display:block;
    padding-left:18px;
}

.submenu-premios li a,
.submenu-premios li a:active,
.submenu-premios li a:visited{
    color:#787d82;
}

.submenu-premios li.subativo,
.submenu-premios li:hover{
    background:url('../_imgs/layout/seta-azul-claro.png') transparent left center no-repeat;
}
.submenu-premios li.subativo a,
.submenu-premios li:hover a{
    color:#00427a;
}

.faixa-sob-item-menu{
    background-color:#dadada;
    height: 3px;
}
.faixa-sob-item-menu div{
    float:left; border-right:1px #f7f7f5 solid; background-color: #00427a; height: 3px; width:16px; 
}

.conteudo img{
    border-top:8px #dadada solid;
    border-bottom:8px #dadada solid;
    margin:10px 0;
}

.conteudo p{
    font-family:'Arial',sans-serif;
    font-size:13px;
    color:#6a7175;
    margin:10px 0;
}

.conteudo p.strong{
    font-weight:bold;
    font-size:14px;
    display:block;
    margin:20px 0 0 0;
    line-height:100%;
    color:#00427A;
}

#menu-lateral{ margin-bottom:30px; }

.conteudo ul li{
    min-height: 130px;
    padding:15px 0;
    border-top:1px #dadada solid;
}
.conteudo ul li:first-child{border:0;}
.conteudo ul li:last-child{margin-bottom:30px;}
.conteudo ul li h2{
    font-family:'Trebuchet MS','Arial',sans-serif;
    font-size:16px;
    color:#00427a;
    margin:0;
    padding:0;
    font-weight:bold;
}
.conteudo ul li .texto{
    padding-left:230px;
    font-size:13px;
    color:#6a7175;
    font-family:'Arial',sans-serif;
}
.conteudo ul li img{
    float:left;
    margin:0;
    border:0;
}

.conteudo-evento-queropatrocinar a img,
.conteudo-evento-queroexpor a img,
.conteudo-evento-querovisitar a img,
.conteudo-evento-exposicao a img{
    margin:0;
    border:0;
    float:right;
}
.conteudo-evento a,
.conteudo-evento a{
    text-decoration: none;
    color:#6a7175;
    font-weight: bold;
}
.conteudo-evento a:active,
.conteudo-evento a:visited{color:#6a7175;}
.conteudo-evento a:hover{}
.conteudo-evento p span,
.conteudo-evento p span{
    color:#00427a;
    font-size:13px;
    font-weight:bold;
    display:inline;
}
.spacer{ margin:20px 0;}

#link-mapa{
    margin:10px 0 25px 0;
}

form{
    position:relative;
    z-index:1;
}

.botao{
    behavior:url('PIE.htc');
    position:relative;
    margin-left:157px;
    display:inline-block;
    *display:inline;
    zoom:1;
    height: 43px;
    line-height: 43px;
    padding:0 20px;
    font-family:'Bliss','Arial',sans-serif;
    font-weight:bold;
    font-size:16px;
    color:#FFF !important;
    -o-border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    text-decoration: none;
    margin-top:28px;
    background-color:#00427a;
    border:0;
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(248, 248, 248, .3)));
}

.botao:active, .botao:visited{color:#FFF !important;}
.botao:hover{
    cursor:pointer;
    background-color:#F47E1E\9;
}

#form-evento label{
    display:block;
    height: 20px;
    line-height: 20px;
    padding:5px 0;
    text-align:right;
    font-family:'Arial',sans-serif;
    font-size:13px;
    color:#00427a;
    margin-right:80px;
}
#form-evento input[type="email"],
#form-evento input[type="text"]{
    width:400px;
    height: 20px;
    float:right;
    float:none\9;
    margin:0 0 0 15px;
    border:1px #c7c7c7 solid;
    background-color:transparent;
    padding:0 0 0 5px;
    color:#6A7175;
    font-family:'Arial',sans-serif;
    font-size:13px;
}

#form-evento label.label-textarea{
    height: 80px;
}

.conteudo.conteudo-evento textarea{
    width:400px;
    float:right;
    height: 80px;
    border:1px #c7c7c7 solid;
    background-color:transparent;
    color:#6A7175;
    font-family:'Arial',sans-serif;
    font-size:13px;
    resize:none;
    display:inline;
    margin-left:15px;
}

.conteudo.conteudo-evento-queroexpor #form-evento input[type="text"],
.conteudo.conteudo-evento-queroexpor #form-evento input[type="email"],
.conteudo.conteudo-evento-queroexpor #form-evento textarea{
    width:360px;    
}
.conteudo.conteudo-evento-queroexpor #form-evento input[type="submit"]{ margin-left:199px;}

.conteudo-evento-outrosanos ul li{
    height: 96px;
    min-height: 96px;
    padding:15px 0 15px 5px;
    border-top:1px #dadada solid;
}
.conteudo-evento-outrosanos ul li:first-child{ border-top:0;}
.conteudo-evento-outrosanos ul li img{
    float:left;
}
.conteudo-evento-outrosanos ul li .ano{
    float:left;
    height: 96px;
    line-height: 90px;
    font-size:52px;
    color:#00427a;
    font-family:'Bliss','Arial',sans-serif;
    font-weight:bold;
    padding:0 45px 0 26px;
}
.conteudo-evento-outrosanos ul li .texto{
    float:left;
    height: 30px;
    line-height: 30px;
    padding:0;
    border-left:7px #dadada solid;
    padding-left:15px;
    font-family:'Bliss','Arial',sans-serif;
    color:#6f7275;
    font-size:17px;
    font-weight: bold;
    margin-top:30px;
    white-space: normal;
}
.conteudo-evento-outrosanos ul li .texto.multilinha{
    line-height: 110%;
    margin-top:20px;
    height: 55px;
}
.conteudo.conteudo-evento.conteudo-evento-planta{width:100%; margin:0;}
.centro-evento .conteudo.conteudo-evento.conteudo-evento-planta img{
    margin:0;
    margin:auto;
    padding-top:30px;
    border:0;
    display:block;
}
.menu-mapa{
    margin-top:10px;
    height: 45px;
    border-bottom:2px #cecece solid;
    font-family:'Trebuchet MS','Arial',sans-serif;
    position:relative;
}
.menu-mapa img{
    display:inline !important;
    padding:0 !important;
}
.menu-mapa a{
    color:#818589;
    position:absolute;
    bottom:5px;
    left:0;
    padding-left:28px;
    background:url('../_imgs/layout/seta-paginacao-esquerda-menor.png') transparent left top no-repeat;
    font-size:14px;
    line-height: 25px;
    font-family:'Bliss','Arial',sans-serif;
    font-weight:bold;
    text-decoration:none;
}
.menu-mapa a:active,
.menu-mapa a:visited{ color:#818589; }
.menu-mapa a:hover{
    color:#818589;
}
.menu-mapa a#botao-voltar:hover{
    background:url('../_imgs/layout/hover-seta-paginacao-esquerda-menor.png') transparent left top no-repeat;
}
.menu-mapa .pdf-download{
    position:absolute;
    white-space:nowrap;
    left:847px;
    bottom:0;
    background : url('../_imgs/layout/btn-pdf.png') #dfe7ef 5px center no-repeat;
    padding:14px 10px 7px 35px;
    font-size:12px;
    color:#004076 !important;
    border:1px #cecece solid;
    border-radius:6px 6px 0 0;
    behavior:url('PIE.htc');
}
.menu-mapa .pdf-download:hover{ color:#F47E1E !important; }
.menu-mapa .pdf-download img{ padding-right:10px;}
.centro-evento .conteudo.conteudo-evento.conteudo-evento-planta .mapa-reduzido{ width:100%; padding-top:5px;}

#lista-expositores{
    border-top:2px #cecece solid;
    margin-top:40px;
    clear:both;
}
#lista-expositores h1{
    text-align: center;
    margin:-15px auto 20px auto;
    color:#a3a4a8;
    padding:0 20px;
    width:130px;
    background-color:#F6F6F6;
}
#lista-expositores ul{
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align: top;
    width:210px;
    margin-right:30px;
    list-style: none;
}
#lista-expositores ul:last-child{
    margin-right:0;
}
#lista-expositores ul li{
    height:22px;
    white-space:nowrap;
    min-height:22px;
    line-height:22px;
    margin-top:3px;
    padding:0;
    font-family:'Arial',sans-serif;
    font-size:12px;
    color:#a5a6aa;
    border:0;
    border-bottom:1px #cecece solid;
}

#lista-outrosanos a{
    display:block;
    height: 96px;
}

#zoom{ width: 985px; height: 447px; }
#zoom .small img{ width: 985px; height: 417px; }
#zoom .large img{ width: 2000px; height: 716px; }

#zoom:hover{ cursor:crosshair; }

/* Overall */
.az-wrap, .az-small, .az-large {
  position: relative;
}
.az-wrap-inner {
  display: block;
}
/* This wraps the large image and hides it */
.az-zoom {
  background: #fff;
  border: #333 1px solid;
  position: absolute;
  top: 0;
  left: 0;
  width: 350px; /* Default zoom window size */
  height: 350px;
  overflow: hidden;
  z-index: 100;
  display: none;
}
/* Class applied to az-mover when large image is windowed */
.az-windowed {
  overflow: hidden;
  position: absolute;
}
/* Class applied to az-mover when large image is fully shown */
.az-expanded {
  height: auto;
  width: auto;
  position: static;
  overflow: visible;
};

a.bt-azul.botao{margin:0 !important; }
a.bt-azul.botao,
a.bt-azul.botao:active,
a.bt-azul.botao:visited{ color:#fff !important; }