.main-home{
    height: 435px;
}

.main-home #nav-wrapper{
    position:relative;
    position:absolute\9;
    z-index:9999999999999999;
    margin-top:-22px;
    width:680px;
}

.main-home #navegacao{
    margin:auto;
    width:400px;
    font-size:0;
    text-align:center;
}

.main-home #navegacao .bullet{
    background-color: #FFF;
    width:10px;
    height: 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
    margin:0 2px;
    margin:0 4px\9;
    display:inline-block;
    *display:inline;
    zoom:1;
    behavior:url('PIE.htc');
}
.main-home #navegacao .bullet:hover{ cursor:pointer; background-color:#ed8600;}
.main-home #navegacao .bullet.activeSlide{background-color:#ed8600;}

.main-home #slide-wrapper{
    height:100%;
    width:100%;
    position:relative;
}

.main-home .slideshow{
    position:relative;
    width:680px;
    height: 100%;    
}

.main-home .slide{
    width:680px;
    height: 100%;
}


.main-home .slide a{
    text-decoration: none;
}

.main-home .slide .img-fundo{
    position:absolute;
    bottom:0;
    left:0;
    z-index:0;
}

.main-home .box{
    height: 215px;
    width:256px;
    position:absolute;
    font-family:'Arial',sans-serif;
    font-size:11px;
    color:#6b6d6e;
}
.main-home .box a{
    display:block;
    height:170px;
}
.main-home .box a:hover{ cursor:pointer;}
.main-home .box.box-superior{ top:20px; right:0; }
.main-home .box.box-inferior{ bottom:0; right:0; }
h3{
    padding-left: 15px;
    background:url('../_imgs/layout/sinal-mais.png') transparent left 3px no-repeat;
    font-family:'Bliss','Arial',sans-serif;
    font-weight: bold;
    color:#00427a;
    font-size:20px;
    line-height: 100%;
}

.main-home .texto{
    height: 66px;
    padding:105px 20px 0 15px;
    line-height: 130%;
}
.main-home .box-superior .texto{ background:url('../_imgs/layout/inscricoes.png') center top no-repeat; }
.main-home .box-inferior .texto{ background:url('../_imgs/layout/blog.png') center top no-repeat; }
.main-home .box a{ color:#6b6d6e;}
.main-home .box a:hover{ color:#00427A; }
.main-home .box-superior.box-superior-tam .texto{ background:url('../_imgs/tam.png') center top no-repeat !important; }

.main-home .slide .legenda{
    left:0;
    bottom:0;
    z-index:999;
    color:#FFF;
    font-family:'Arial',sans-serif;
    font-size:14px;
    height: 73px;
    position:absolute;
    width:620px;
    padding:10px 30px 0 30px;
    line-height: 120%;
    -o-border-radius:15px 15px 0 0;
    -moz-border-radius:15px 15px 0 0;
    -webkit-border-radius:15px 15px 0 0;
    border-radius:15px 15px 0 0;
    behavior:url('PIE.htc');
}

.main-home .slide .legenda.azul{
    background-color:rgb(0, 145, 212);
    background-color:rgba(0, 145, 212, .7);
    -pie-background:rgba(0, 145, 212, .7);
    behavior:url('PIE.htc');
}
.main-home .slide .legenda.vermelho{
    background-color:rgb(233, 40, 48);
    background-color:rgba(233, 40, 48, .7);
    -pie-background:rgba(233, 40, 48, .7);
    behavior:url('PIE.htc');
}
.main-home .slide .legenda.amarelo{
    background-color:rgb(162, 178, 33);
    background-color:rgba(162, 178, 33, .7);
    -pie-background:rgba(162, 178, 33, .7);
    behavior:url('PIE.htc');
}
.main-home .slide .legenda.laranja{
    background-color:rgb(225, 120, 29);
    background-color:rgba(225, 120, 29, .7);
    -pie-background:rgba(225, 120, 29, .7);
    behavior:url('PIE.htc');
}
.main-home .slide .legenda.verde{
    background-color:rgb(139, 210, 14);
    background-color:rgba(139, 210, 14, .7);
    -pie-background:rgba(139, 210, 14, .7);
    behavior:url('PIE.htc');
}

.main-home .slide a:hover .legenda{
    color:#00427A;
}

#intermediaria{
    /*height: 750px;*/
    border-top:1px #fff solid;
    background:url('../_imgs/layout/bg-intermed.jpg') #e2e2e2 left top repeat-x;
}

#intermediaria .centro{ margin-top:15px; }

#eu-quero{ margin:18px 0 20px 0; font-size:0;}

#eu-quero .coluna{
    vertical-align:top;
    display:inline-block;
    zoom:1;
    *display:inline;
    width:226px;
    padding:0 10px;
}
#eu-quero .coluna a{
    text-decoration:none;
    color:#6a7175;
}
#eu-quero .coluna a:hover p{ color:#00427A; }
#eu-quero .coluna a:visited, #eu-quero .coluna a:active{ color:#6a7175;}
#eu-quero .coluna.primeira{padding:0 10px 0 0; width:236px;}
#eu-quero .coluna.ultima{ padding:0 0 0 10px; width:236px;}

#eu-quero .coluna .texto{
    font-size:11px;
    min-height:88px;
    font-family:'Arial',sans-serif;
    background-color:#FFF;
    outline:1px #c9c9c9 solid;
    margin:7px 5px 0 0;
    padding:10px 10px 7px 5px;
    line-height: 140%;
    font-family:'Trebuchet MS','Arial',sans-serif;
}
#eu-quero .coluna .texto:hover{ outline:1px #00427A solid;}
#eu-quero .coluna .texto p{ padding-left:90px; width:115px; margin-top:6px; }
#eu-quero .coluna.primeira .texto p,
#eu-quero .coluna.ultima .texto p{ width:123px;}
#eu-quero .coluna .texto img{
    float:left;
    -o-border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    behavior:url('PIE.htc');
}

#colunas-home{ font-size:0; margin:10px 0 0 0;}
#colunas-home .coluna{
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align: top;
    width:325px;
    font-size:11px;
    font-family: 'Arial', sans-serif;
}
#colunas-home .coluna.meio{
    padding:0 5px;
    width:315px;
}
#colunas-home .coluna .noticia{
    color:#6a7175;    
    line-height: 160%;
    margin-bottom:30px;
    padding-right:15px;
}
#colunas-home .coluna a{ text-decoration: none; color:#6a7175;}
#colunas-home .coluna a:hover,
#colunas-home .coluna a:hover h4,
#colunas-home .coluna a:hover p,
#colunas-home .coluna a:hover p.sub{ color:#000 !important;}


#colunas-home .coluna h4{
    font-family: 'Trebuchet MS', 'Arial', sans-serif;
    color:#00427a;
    font-size:16px;
    line-height: 105%;
    margin-bottom:3px;
}
#colunas-home .coluna .noticia .sub{
    color:#00427a;
    line-height: 105%;
    margin:5px 0;
}

#colunas-home .coluna input[type="email"],
#colunas-home .coluna input[type="text"]{
    margin:0;
    padding:0;
    border:0;
    background-color:#fff;
    width:314px;
    margin:3px 0 3px 5px;
    padding:0 0 0 6px;
    height: 28px;
    line-height: 28px;
    border:1px #ccc solid;
    font-size:11px;
    color:#6a7175;
}
#colunas-home .coluna input[type="submit"]{
    display:block;
    border:0;
    padding:3px 7px 3px 49px;
    background:url('../_imgs/home/seta-submit.png') transparent 4px 6px no-repeat;
    height:42px;
    line-height:37px;
    margin:3px 0 3px 5px;
    font-family:'Bliss','Arial',sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:#00427a;
    -o-border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    behavior:url('PIE.htc');
}
#colunas-home .coluna input[type="submit"]:hover{
    cursor:pointer;
}