.botao{
    position:relative;
    z-index:1;
}

.botao:hover{
    border-radius:12px;
    behavior:url('PIE.htc');
    background-color:#F47E1E !important;
}

#colunas-home .coluna input[type="submit"]:hover{
    background-color:#F47E1E;
}

#menu-lateral input[type="submit"]:hover{
    background-color:#F47E1E;
}

#veja-tambem .veja-tambem-link:hover img.tofade{
    display:none;
}


#down-publi:hover img.tofade{
    display:none;
}

.lista-clipping:hover{
    background-color:#D3D3D3;
}

.conteudo .noticia:hover{
    background-color:#D3D3D3;
}

.conteudo .lista-palestrante:hover{
    background-color:#D3D3D3;
}

.conteudo .lista-palestrante:hover img.img-off{
    display:none;
}

#lista-outrosanos ul li:hover{
    background-color:#8CC2EA;
}

section{
    background-color:#F6F6F6;
}

section .observacoes strong,
section .coluna strong,
section a,
section a:active,
section a:visited{
    font-family:'Arial',sans-serif;
    background-color:#F6F6F6;
    /*font-weight:normal !important;*/
}