#resposta-target{ text-align:center; }

.submenu-imprensa{
    margin:8px 0 35px 0;
    list-style: none;
    font-family:'Bliss','Arial',sans-serif;
    font-size:16px;
    font-weight: bold;
}

.submenu-imprensa li{
    height:29px;
    line-height: 29px;    
}

.azul-escuro{ color:#00427a;}

.submenu-imprensa li a{
    text-decoration:none;
    display:block;
    padding-left:18px;
}

.submenu-imprensa li a,
.submenu-imprensa li a:active,
.submenu-imprensa li a:visited{
    color:#787d82;
}

.submenu-imprensa li.subativo,
.submenu-imprensa li:hover{
    background:url('../_imgs/layout/seta-azul-claro.png') transparent left center no-repeat;
}
.submenu-imprensa li.subativo a,
.submenu-imprensa li:hover a{
    color:#00427a;
}

.faixa-sob-item-menu{
    background-color:#dadada;
    height: 3px;
}
.faixa-sob-item-menu div{
    float:left; border-right:1px #f7f7f5 solid; background-color: #00427a; height: 3px; width:16px; 
}

.conteudo-release p{
    font-family:'Arial',sans-serif;
    color:#6a7175;
    font-size:13px;
    margin:6px 0;
    padding:6px 0;
}
.conteudo-release p.destaque{
    font-size:11px;
    font-weight: bold;
}

.botao{
    margin-left:157px;
    display:inline-block;
    *display:inline;
    zoom:1;
    height: 43px;
    line-height: 43px;
    padding:0 20px;
    font-family:'Bliss','Arial',sans-serif;
    font-weight:bold;
    font-size:16px;
    color:#FFF;
    -o-border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    behavior:url('PIE.htc');
    text-decoration: none;
    margin-top:28px;
    background-color:#00427a;
    border:0;
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(248, 248, 248, .3)));
}
.botao:hover{ cursor:pointer; }

#form-release{}
#form-release label{
    display:block;
    height: 20px;
    line-height: 20px;
    padding:5px 0;
    text-align:right;
    font-family:'Arial',sans-serif;
    font-size:13px;
    color:#00427a;
    margin-right:80px;
}
#form-release input[type="email"],
#form-release input[type="text"]{
    width:400px;
    height: 20px;
    float:right;
    float:none\9;
    margin:0 0 0 15px;
    border:1px #c7c7c7 solid;
    background-color:transparent;
    padding:0 0 0 5px;
    color:#6a7175;
    font-family:'Arial',sans-serif;
    font-size:13px;
}

.conteudo-clipping p.destaque{
    font-size: 13px;
    font-family:'Arial',sans-serif;
    font-weight:bold;
    color:#6a7175;
    margin:20px 0 10px 0;
}

#clips{ margin-top:20px;}

#clips .data{
    font-family:'Trebuchet MS','Arial',sans-serif;
    font-size:16px;
    color:#787d82;
    font-weight: bold;
}

.lista-clipping{
    line-height: 160%;
    padding:10px 0;
    font-size:12px;
    color:#787d82;
    font-family: 'Arial',sans-serif;
}

.lista-clipping h2{
    font-family:'Trebuchet MS','Arial',sans-serif;
    font-weight: bold;
    font-size:16px;
    color:#00427a;
    margin:0;
}
.lista-clipping a{
    font-size:12px;
    font-family:'Bliss','Arial',sans-serif;
    font-weight:bold;
    text-decoration: none;
    color:#0095da;
    border-top:1px #d3d3d3 solid;
    padding-top:3px;
    margin-top:3px;
    width:100%;
    display:block;
    padding-left:25px;
    background:url('../_imgs/layout/icon-pdf.png') transparent left 5px no-repeat;
}
.lista-clipping a:active,
.lista-clipping a:visited{
    color:#0095da;
}
.lista-clipping a:hover{
    color:#f47E1E !important;
}

p.destaque a{
    text-decoration: none;
    font-weight: bold;
    color:#6a7175;
}
p.destaque:hover{
    
}
p.destaque a:active,
p.destaque a:visited{color:#6a7175;}