.submenu-informacoes{
    margin:8px 0 35px 0;
    list-style: none;
    font-family:'Bliss','Arial',sans-serif;
    font-size:16px;
    font-weight: bold;
}

.submenu-informacoes li{
    height:29px;
    line-height: 29px;    
}

.submenu-informacoes li a{
    text-decoration:none;
    display:block;
    padding-left:18px;
}

.submenu-informacoes li a,
.submenu-informacoes li a:active,
.submenu-informacoes li a:visited{
    color:#787d82;
}

.submenu-informacoes li.subativo,
.submenu-informacoes li:hover{
    background:url('../_imgs/layout/seta-azul-claro.png') transparent left center no-repeat;
}
.submenu-informacoes li.subativo a,
.submenu-informacoes li:hover a{
    color:#00427a;
}

.faixa-sob-item-menu{
    background-color:#dadada;
    height: 3px;
}
.faixa-sob-item-menu div{
    float:left; border-right:1px #f7f7f5 solid; background-color: #00427a; height: 3px; width:16px; 
}

.conteudo-informacoes{
    font-size:11px;
    color:#6a7175;
    font-family:'Arial',sans-serif;
}
.conteudo-informacoes a{
    font-weight: bold;
    text-decoration: none;
    color:#6a7175;
}
.conteudo-informacoes a:visited,
.conteudo-informacoes a:active{ color:#6a7175;}

.conteudo-informacoes a:hover{ color:#F47E1E; }

.conteudo-informacoes h1{
    font-size:24px;
}
.conteudo-informacoes h2{
    font-size:16px;
    font-family:'Trebuchet MS','Arial',sans-serif;
    color:#00427a;
    font-weight:bold;
}
.conteudo-informacoes iframe{
    width:657px;
    height:480px;
    margin-top:30px;
}
.conteudo-informacoes-hospedagem{
    font-family:'Arial',sans-serif;
    font-size:13px;
    color:#6a7175;
}
#legenda{
    color:#00427a;
    font-size:10px;
    text-align:right;
}
table{
    width:100%;
    margin:5px 0 20px 0;
    border-top:5px #b2b2b2 solid;
    border-bottom:5px #b2b2b2 solid;
    border-collapse: collapse;
}
table tr{
    height: 30px;
    line-height: 30px;
}
table tr th{
    padding-left:8px;
    font-size:14px;
    color:#00427a;
    background-color: #c5dae6;
    font-weight: bold;
    font-family: 'Trebuchet MS','Arial',sans-serif;
    border-top:1px #FFF solid;
}
table tr th:first-child{border-right:1px #FFF solid; border-left:1px #b2b2b2 solid;}
table tr th:last-child{border-left:1px #FFF solid; border-right:1px #b2b2b2 solid}
table tr td{
    padding-left:8px;
    font-size:13px;
    color:#6a7175;
    border:1px #b3b3b3 solid;
    background-color:#eeeeed;
/*    background-image: linear-gradient(top, rgba(179,179,179, .1) 0%, rgb(238,238,237) 15%);
    background-image: -o-linear-gradient(top, rgba(179,179,179, .1) 0%, rgb(238,238,237) 15%);
    background-image: -moz-linear-gradient(top, rgba(179,179,179, .1) 0%, rgb(238,238,237) 15%);
    background-image: -webkit-linear-gradient(top, rgba(179,179,179, .1) 0%, rgb(238,238,237) 15%);
    background-image: -ms-linear-gradient(top, rgba(179,179,179, .1) 0%, rgb(238,238,237) 15%);
    
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, rgba(179,179,179, .1)),
            color-stop(0.15, rgb(238,238,237))
    );*/
}
table tr td:first-child{
    padding-left:22px;
    background:url('../_imgs/layout/seta-tabela-off.png') #eeeeed 8px center no-repeat;
}
table tr:hover td:first-child{background:url('../_imgs/layout/seta-tabela-on.png') #d9ebf3 8px center no-repeat;}
table tr:hover td{ background-color:#d9ebf3; }
table tr:hover td:hover{cursor:pointer;}

section h2{
    margin-bottom:6px;
    height: 40px;
    line-height: 40px;
    padding-left:55px;
    background:url('../_imgs/layout/icon-hotel.png') transparent left top no-repeat;
}
section a,
section a:active,
section a:visited{
    color:#00427a !important;
}
section a:hover{ color:#F47E1E !important; }

section .coluna{
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:top;
    margin:12px 0;
    font-size:11px;
    color:#6a7175;
    box-sizing: border-box
}
.coluna.prim{
    width:45%;
}
section .observacoes strong,
section .coluna strong{
    font-weight:bold;
    color:#00427a;
}


section .observacoes{
    margin:12px 0;
    font-size:11px;
    color:#6a7175;    
}

section .checkin{
    min-height:50px;
    padding-left:65px;
    background:url('../_imgs/layout/icon-checkin.png') transparent left top no-repeat;
}

section .diaria{
    min-height:50px;
    padding-left:60px;
    background:url('../_imgs/layout/icon-diaria.png') transparent left top no-repeat;    
}

section .observacoes{
    min-height:50px;
    padding-left:65px;
    background:url('../_imgs/layout/icon-obs.png') transparent left top no-repeat;        
}

body{
    overflow-x: hidden;
}

 .botao{
    position:relative;
    display:inline-block;
    *display:inline;
    zoom:1;
    height: 43px;
    line-height: 43px;
    color:#fff !important;
    padding:0 20px;
    font-family:'Bliss','Arial',sans-serif;
    font-weight:bold;
    font-size:16px;
    color:#FFF;
    -o-border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    behavior:url('PIE.htc');
    text-decoration: none;
    margin-top:28px;
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(248, 248, 248, .3)));
}
.botao.bt-azul{ background-color:#00427a; }
.botao.bt-azul:hover{ color:#FFF;}
.btn-esquerda{ margin-left:40px; }