.submenu-inscricoes{
    margin:8px 0 35px 0;
    list-style: none;
    font-family:'Bliss','Arial',sans-serif;
    font-size:16px;
    font-weight: bold;
}

.submenu-inscricoes li{
    height:29px;
    line-height: 29px;
    
}

.submenu-inscricoes li a{
    text-decoration:none;
    display:block;
    padding-left:18px;
}

.submenu-inscricoes li a,
.submenu-inscricoes li a:active,
.submenu-inscricoes li a:visited{
    color:#787d82;
}

.submenu-inscricoes li.subativo,
.submenu-inscricoes li:hover{
    background:url('../_imgs/layout/seta-azul-claro.png') transparent left center no-repeat;
}
.submenu-inscricoes li.subativo a,
.submenu-inscricoes li:hover a{
    color:#00427a;
}

.faixa-sob-item-menu{
    background-color:#dadada;
    height: 3px;
}
.faixa-sob-item-menu div{
    float:left; border-right:1px #f7f7f5 solid; background-color: #00427a; height: 3px; width:16px; 
}

.conteudo-inscricoes-valores img:first-child{
    margin:20px 0;
}

.conteudo h2{
    font-family:'Bliss','Arial',sans-serif;
    font-size:20px;
    color:#00427a;
}

.conteudo table{
    font-size:11px;
    font-family:'Arial',sans-serif;
    color:#686d72;
    width:100%;
    border-collapse: collapse;
    border-top:5px #9bb9ca solid;
}

.conteudo table th{
    background-color:#c5dae6;
    font-family:'Trebuchet MS','Arial',sans-serif;
    color:#00427a;
    font-size:16px;
    font-weight: bold;
    border-top:1px #FFF solid;
    border-bottom:1px #b5cedd solid;
    height: 30px;
    line-height: 30px;
    padding-left:15px
}
.conteudo table th:first-child{
    border-right:1px #FFF solid;
    border-left:1px #b5cedd solid;
}
.conteudo table th:last-child{
    border-right:1px #b5cedd solid;
}

.conteudo table td{
    padding:5px 0 10px 15px;
    background-color:#eeeeed;
    vertical-align: top;
    border:1px #b3b3b3 solid;
}
.conteudo table tbody tr:first-child td{
    padding:0 0 0 15px;
    background-color:#d8eaf3;
    border-bottom:1px #FFF solid;
    height: 30px;
    line-height: 30px;
    color:#00427a;
}
.conteudo table.tabela-bonificacao{
    margin:15px 0 0 0;
}
.conteudo table.tabela-bonificacao tr th,
.conteudo table.tabela-bonificacao tr td{
    border:1px #b3b3b3 solid;
}
.conteudo table.tabela-bonificacao .td-destaque{
    font-family:'Trebuchet MS','Arial',sans-serif;
    font-size:14px;
    color:#625959;
    font-weight:bold;
}
.conteudo tfoot tr td{
    padding:0 0 0 15px;
    height: 20px;
    line-height: 20px;
    font-size:11px;
    color:#938787;
    font-family:'Bliss','Arial',sans-serif;
    border:0;
    background:transparent;
    border-top:5px #9bb9ca solid;
}
.conteudo ul,
.conteudo p{
    font-family:'Arial',sans-serif;
    font-size:13px;
    color:#686d72;
    margin:10px 0;
}
.conteudo ul{ list-style-position: inside;}
.conteudo ul li{ margin:5px 0;}
.conteudo h3{
    font-family:'Bliss','Arial',sans-serif;
    font-size:22px;
    color:#00427a;
}
.conteudo p.negrito{ color:#00427a;}
.legenda{
    font-family:'Arial',sans-serif;
    font-size:11px;
    color:#686d72;
}
.conteudo #lista-info{
    list-style: none;
    margin:20px 0;
}
.conteudo #lista-info li{
    padding-left:63px;
    margin:25px 0;
    font-family:'Arial',sans-serif;
    font-size:12px;
    color:#686d72;
    min-height: 70px;
    display:block;
}
.conteudo #lista-info li strong{
    font-family:'Trebuchet MS','Arial',sans-serif;
    font-size:16px;
    font-weight: bold;
    color:#00427a;
}
.conteudo #lista-info #pagamento{ background:url('../_imgs/inscricoes/icon-pagamento.png') left top no-repeat; }
.conteudo #lista-info #reembolso{ background:url('../_imgs/inscricoes/icon-reembolso.png') left top no-repeat; }
.conteudo #lista-info #substituicao{ background:url('../_imgs/inscricoes/icon-substituicao.png') left top no-repeat; }
.conteudo #lista-info #confirmacao{ background:url('../_imgs/inscricoes/icon-confirmacao.png') left top no-repeat; }
.conteudo #lista-info #encerramento{
    background:url('../_imgs/inscricoes/icon-encerramento.png') left top no-repeat; 
    font-size:14px;
    color:#00427a;
    font-weight: bold;
}

.botao{
    position:relative;
    display:inline-block;
    *display:inline;
    zoom:1;    
    height: 43px;
    line-height: 43px;
    padding:0 20px;
    font-family:'Bliss','Arial',sans-serif;
    font-weight:bold;
    font-size:16px;
    color:#FFF !important;
    -o-border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    behavior:url('PIE.htc');
    text-decoration: none;
    margin:20px 0 0 30px;
    background-color:#00427a;
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(248, 248, 248, .3)));
}
.botao:hover{
    text-decoration: none !important;
    cursor:pointer;
}
.botao-escuro{
    position:relative;
    background-color:#00427a;
    border:none;
    clear: both;
}