#filtro-noticias{
    margin:15px 0 35px 15px;
    width:245px;
}


.noticia{
    width:100%;
    min-height: 110px;
    clear: left;
    padding:15px 0 20px 0;
    /*margin:5px 0 10px 0;*/
    border-top:1px #dadada solid;
}

.noticia:first-child{ border-top:none;}
.noticia img{
    float:left;
    margin-right:20px;
}

.noticia a{
    text-decoration:none;
    color:#6a7175;
    display:block;
    width:100%;
    min-height: 110px
}

.noticia h1{
    font-size:16px;
    font-family:'Trebuchet MS','Arial',sans-serif;
    color:#00427a;
    line-height: 110%;
}

.noticia h2{
    font-size:11px;
    font-family:'Arial',sans-serif;
    color:#00427a;
    margin:3px 0;
    line-height: 110%;
}
.noticia p{
    line-height: 130%;
    font-size:11px;
    font-family:'Arial',sans-serif;
}

.conteudo-noticia h1{
    font-family:'Trebuchet MS','Arial',sans-serif;
    font-size:16px;
    line-height: 130%;
}
.conteudo-noticia h2{
    font-size:11px;
    font-family:'Arial',sans-serif;
    margin:0;
    line-height: 130%;
}
.conteudo-noticia p{
    font-size:13px;
    font-family:'Arial',sans-serif;
    margin-top:20px;
    line-height: 160%;
    color:#6a7175;
}
.conteudo-noticia img{
    float:left;
    margin:0 10px 10px 0;
}
.conteudo-noticia a{
    text-decoration: none;
    color:#6a7175;
    font-weight: bold;
}
.conteudo-noticia a:active,
.conteudo-noticia a:visited{color:#6a7175;}
.conteudo-noticia a:hover{ color:#F47E1E; }

.mais-noticias{
    margin:20px 0;
}

.mais-noticias h1{
    font-family:'Bliss','Arial',sans-serif;
    font-weight:bold;
    font-size:31px;
    color:#787d82;
    padding-left:22px;
    background:url('../_imgs/layout/sinal-mais-escuro.png') transparent 4px 13px no-repeat;
}
.mais-noticias .ver-todas{
    float:right;
    padding-right:28px;
    background:url('../_imgs/layout/seta-paginacao-direita-menor.png') transparent right top no-repeat;
    font-size:14px;
    line-height: 25px;
    font-family:'Bliss','Arial',sans-serif;
    font-weight:bold;
    text-decoration:none;
    color:#00427a;
    margin-top:8px;
}
.mais-noticias .ver-todas:active,
.mais-noticias .ver-todas:visited{color:#00427a;}
.mais-noticias .ver-todas:hover{
    background:url('../_imgs/layout/hover-seta-paginacao-direita-menor.png') transparent right top no-repeat;
}

.mais-noticias .noticia-list{ margin-top:20px; }
.mais-noticias .noticia-list a{
    text-decoration:none;
    font-size:13px;
    font-family:'Arial',sans-serif;
    color:#4e5154;
    line-height: 130%;
    display:block;
    width:100%;
    height:100px;
}
.mais-noticias .noticia-list a p{ margin:5px 0;}

.mais-noticias .noticia-list a:active,
.mais-noticias .noticia-list a:visited{
    color:#4e5154;
}
.mais-noticias .noticia-list h2{
    font-family:'Trebuchet MS','Arial',sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#00427a;
}
.mais-noticias .noticia-list p{ font-weight:normal;}
.mais-noticias .noticia-list:hover h2,
.mais-noticias .noticia-list:hover p,
.mais-noticias .noticia-list:hover{ color:#000;}

.height-wrapper{
    min-height: 300px;
}
.mais-noticias .ver-todas:hover{ color:#F47E1E;}