*{
    padding:0;
    margin:0;
    font-family:Arial,'sans-serif';
}

/* LOGIN */

.login-box{
    border:2px #363435 solid;
    width:300px;
    margin:auto;
    text-align:center;
    margin-top:100px;
}

.login-box .login-title{
    padding:10px;
    background-color:#363435;
    color:#DADADA;
}

.login-box .error-login{
    background-color:#F07070;
    margin:5px;
    border:2px #BF153F solid;
    color:#BF153F;
}

.login-box .login-inputs{
    padding:10px;
}

.login-box .login-inputs input[type=text],
.login-box .login-inputs input[type=password]{
    color:#363435;
    font-weight:bold;
    width:190px;
    margin-left:10px;
}

.btn-voltar,
.login-box .login-inputs input[type=submit]{
    margin-top:10px;
    padding:3px;
    background-color:#363435;
    color:#DADADA;
    font-weight:bold;
    width:80px;
}
.btn-voltar:hover, .login-box .login-inputs input[type=submit]:hover{ cursor:pointer;}

.login-box .login-inputs table tr td{
    padding:2px 0px 2px 0px;
}

/* CORPO */

.container{
    width:1100px;
    margin:auto;
    margin-top:20px;
}

.container-bg{
    background:url('../_imgs/painel/bg-menu.jpg') top left repeat-y;
    border-top:2px #dedede solid;
}

.titulo-cliente{
    width:100%;
    text-align:center;
    padding-bottom:15px;
}

.menu{
    width:200px;
    float:left;
    padding-top:80px;
    text-align:right;
    font-weight:bold;
}

.menu ul.menu-adm,
.menu ul.menu-adm ul.submenu{
    list-style: none;
    padding-bottom:10px;
}

.menu ul.menu-adm li,
.menu ul.menu-adm ul.submenu li{
    color:#5A5859;
    padding-right:5px;
    margin-left:60px;
    padding:3px 10px 3px 0px;
}

ul.menu-adm li.comsubmenu:hover{
    cursor:pointer;
}

ul.menu-adm li.menudestaque{
    background-color: #FFF;
}

.menu ul.menu-adm li{ font-size:14px; }
.menu ul.menu-adm ul.submenu li{
    font-size:12px;
    text-transform: lowercase;
    /*background:url('../_imgs/painel/bg-submenu.jpg') top right no-repeat;*/
}

.menu ul.menu-adm a,
.menu ul.menu-adm ul.submenu a,
.menu ul.menu-adm a:hover,
.menu ul.menu-adm ul.submenu a:hover,
.menu ul.menu-adm a:active,
.menu ul.menu-adm ul.submenu a:active,
.menu ul.menu-adm a:visited,
.menu ul.menu-adm ul.submenu a:visited{
    text-decoration:none;
    color:#5A5859;
}

.content{
    padding-top:100px;
    float:right;
    width:890px;
    min-height:470px;
    border-right:2px #dedede solid;
    text-align:center;
}
.content .titulo{
    font-size:18px;
    padding-bottom:20px;
    font-weight:bold;
}

.content input[type=submit]{
    margin-top:10px;
    margin-bottom:10px;
    padding:3px;
    background-color:#363435;
    color:#DADADA;
    font-weight:bold;
    width:80px;
}
.content input[type=submit]:hover{ cursor:pointer; }

.content a{
    text-decoration:none;
    color:#000;
}
.content a:hover{
    border-bottom:1px #000 dotted;
}

.imagem300{
    max-width:300px;
}
.imagem100{
    max-width:100px;
}

.content input[type=text]{
    width:500px;
}
.content textarea{
    width:500px;
    height:100px;
    resize:none;
}

.content textarea.large-editor{
    width:650px;
    height:400px;
}

.content input[type=text].datemodulovalue,
.content input[type=text].datemodulo,
.content input[type=text].timepicker,
.content input[type=text]#datepicker{
    width:80px;
    text-align: center;
}

.div-align-esquerda{
    text-align:left;
    width:200px;
    margin:auto;
}

.content table{
    font-size:11px;
    border-collapse: collapse;
    width:95%;
    margin:auto
}
table tr{
    border:1px black solid;
}

.content table tr td.add-new{
    padding-top:40px;
}

table a:hover{
    font-weight: bold;
}

.content table tr td.add-new a{
    font-weight:bold;
    padding:3px;
}
.content table tr td.add-new a:hover{
    cursor:pointer;
}

td.aviso-azul{
    background-color:#00CCFF;
    padding:5px;
}
td.aviso-verm{
    background-color:#FE0000;
    padding:5px;
}

td.aviso-transparent{
    background-color:#FFFFFF;
    padding:5px;
}

.ui-datepicker{
    font-size:10px;
}

#ui-datepicker-div table tr{
    border:none !important;
}

.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-datepicker-current { display: none; }


.amostra-azul{ background-color:#00CCFF; }
.amostra-vermelho{ background-color:#FE0000; }
.amostra-transp{ background-color:transparent; }

.amostra-azul:hover, .amostra-vermelho:hover, .amostra-transp:hover{ cursor:pointer; }

.amostra-azul,
.amostra-vermelho,
.amostra-transp{
    width:200px;
    height:15px;
    display:inline-block;
    margin-bottom:5px;
    padding:3px;
    border:1px #cecece solid;
}
div.wysiwyg{
    margin:auto;
}


.rodape{
    clear:both;
    width:100%;
    text-align:center;
    background-color:#dedede;
    padding:10px 0px 10px 0px;
    font-size:10px;
    color:#5A5859;
}

.rodape a,
.rodape a:hover,
.rodape a:active,
.rodape a:visited{
    color:#5A5859;
    text-decoration: none;
}
.rodape a:hover{ border-bottom:1px #5A5859 dotted }

.ui-widget-content{
    font-size:12px;
}

.ui-widget-content fieldset{
    text-align:right;
}

.ui-widget-content input[type=text]{
    width:180px;
    margin:3px 3px 3px 0px;
}

.ui-widget-content input[type=submit],
.ui-widget-content input[type=reset]{
    padding:3px;
    margin:2px;
}

#tinymce_tbl{
    margin:auto;
}