.main-palestrantes #menu-lateral h3{ margin-bottom:25px;}

.main-palestrantes .detalhe-palestrante #compartilhe{margin-top:30px;}

.main-palestrantes .detalhe-palestrante h2{
    font-family:'Trebuchet MS','Arial',sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#00427a;
}
.main-palestrantes .detalhe-palestrante h2.data{ font-size: 14px;}

.main-palestrantes .detalhe-palestrante h3{
    font-family:'Trebuchet MS','Arial',sans-serif;
    font-size:16px;
    color:#00427a;
}

.main-palestrantes .detalhe-palestrante p{
    font-size:11px;
    font-family:'Arial',sans-serif;
    color:#6a7175;
}

.conteudo .lista-palestrante{
    padding:20px 20px 20px 5px;
    border-bottom:1px #d3d3d3 solid;
    clear:both;
    min-height: 110px;
    font-family:'Arial',sans-serif;
    font-size:11px;
    position:relative;
}

.conteudo .lista-palestrante a{ text-decoration: none; display:block; width:100%; min-height:110px;}
.conteudo .lista-palestrante a,
.conteudo .lista-palestrante a:active,
.conteudo .lista-palestrante a:visited{ color:#4e5154;}

.conteudo .lista-palestrante h1{
    padding-top:1px;
    font-family:'Trebuchet MS','Arial',sans-serif;
    font-size:16px;
    font-weight:bold;
}
.conteudo .lista-palestrante img{
    float:left;
    position:relative;
    z-index:1;
    width:138px;
    margin-right:15px;
    -o-border-radius:12px 0 0 0;
    -moz-border-radius:12px 0 0 0;
    -webkit-border-radius:12px 0 0 0;
    border-radius:12px 0 0 0;
    behavior:url('PIE.htc');
}
.conteudo .lista-palestrante img.img-off{
    margin-left:-153px;
    position:relative;
    z-index:99999;
}

#palestrante-detalhe{
    background-color: #e6e6e6;
    border:1px #FFF solid;
    font-family:'Arial',sans-serif;
    font-size: 11px;
    color:#4e5154;
    -o-border-top-left-radius: 12px;
    -webkit-border-top-left-radius: 12px;
    -moz-border-top-left-radius: 12px;
    border-top-left-radius: 12px;
    margin-bottom:30px;
    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.9, transparent), to(rgba(248, 248, 248, .3)))
}
#palestrante-detalhe img{
    float:left;
    margin-right:20px;
    margin-bottom:20px;
    -o-border-radius:12px 0 0 0;
    -moz-border-radius:12px 0 0 0;
    -webkit-border-radius:12px 0 0 0;
    border-radius:12px 0 0 0;
    behavior:url('PIE.htc');
    position:relative;
}

#palestrante-detalhe .texto{
    padding:15px;
    min-height: 148px;
}
#palestrante-detalhe .texto p{ margin: 3px 0;}

#outros-palestrantes{
    margin-top:20px;
}

#outros-palestrantes h1.titulo{
    padding-left: 17px;
    background:url('../_imgs/layout/sinal-mais-escuro.png') transparent left center no-repeat;
    font-family:'Bliss','Arial',sans-serif;
    color:#787d82;
    font-size:25px;
    line-height: 100%;
}