.submenu-premios{
    margin:8px 0 35px 0;
    list-style: none;
    font-family:'Bliss','Arial',sans-serif;
    font-size:16px;
    font-weight: bold;
}

.submenu-premios li{
    height:29px;
    line-height: 29px;
    
}

.submenu-premios li a{
    text-decoration:none;
    display:block;
    padding-left:18px;
}

.submenu-premios li a,
.submenu-premios li a:active,
.submenu-premios li a:visited{
    color:#787d82;
}

.submenu-premios li.subativo,
.submenu-premios li:hover{
    background:url('../_imgs/layout/seta-azul-claro.png') transparent left center no-repeat;
}
.submenu-premios li.subativo a,
.submenu-premios li:hover a{
    color:#00427a;
}

.faixa-sob-item-menu{
    background-color:#dadada;
    height: 3px;
}
.faixa-sob-item-menu div{
    float:left; border-right:1px #f7f7f5 solid; background-color: #00427a; height: 3px; width:16px; 
}

.conteudo-premios h1{
    font-family:'Trebuchet MS','Arial',sans-serif;
    font-size: 24px;
    color:#00427a;
    font-weight:bold;
}

.conteudo-premios img{ margin:20px 0;}
.conteudo-premios p{
    font-family:'Arial',sans-serif;
    color:#6a7175;
    font-size:11px;
    margin:10px 0;
}
.conteudo-premios p.strong{
    font-family:'Trebuchet MS','Arial',sans-serif;
    font-size: 16px;
    font-weight:bold;
    color:#00427a;    
}

#inscricao{ height: 100px; }
#inscricao .botao{
    position:relative;
    display:inline-block;
    *display:inline;
    zoom:1;
    height: 43px;
    line-height: 43px;
    padding:0 20px;
    font-family:'Bliss','Arial',sans-serif;
    font-weight:bold;
    font-size:16px;
    color:#FFF;
    -o-border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    behavior:url('PIE.htc');
    text-decoration: none;
    margin-top:28px;
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(248, 248, 248, .3)));
}
#inscricao .botao.bt-azul{ background-color:#00427a; }
#inscricao .botao.bt-azul:hover{ color:#FFF;}
#inscricao .botao.bt-cinza{ background-color:#a3adb5; }
#inscricao .botao.bt-cinza:hover{ color:#FFF;}
#inscricao .btn-direita{ float:right; margin-right:60px; }
#inscricao .btn-esquerda{ float:left; margin-left:40px; }

a.link-seta{
    margin-top:5px;
    display:block;
    height: 29px;
    line-height: 29px;
    padding-left:43px;
    padding-top:3px;
    background:url('../_imgs/home/seta-submit.png') left center no-repeat;
    font-family:'Bliss','Arial',sans-serif;
    font-weight:bold;
    font-size:20px;
    color:#00427a;
    text-decoration:none;
}

.conteudo-premios p.strong-cinza{
    font-family:'Trebuchet MS','Arial',sans-serif;
    font-size:16px;
    color:#6a7175;
    font-weight:bold;
}
.conteudo-premios p.cinza{ font-weight:bold; }
.conteudo-premios p .destaque{
    font-weight:bold;
    color:#0095da;
}

.conteudo-premios table{
    margin:20px 0;
    border-collapse: collapse;
    font-size:16px;
    font-family:'Trebuchet MS','Arial',sans-serif;
    width:100%;
    color:#6a7175;
    -o-border-top-right-radius: 12px;
    -webkit-border-top-right-radius: 12px;
    -moz-border-top-right-radius: 12px;
    border-top-right-radius: 12px;
    -o-border-top-left-radius: 12px;
    -webkit-border-left-right-radius: 12px;
    -moz-border-top-left-radius: 12px;
    border-top-left-radius: 12px;
}
.conteudo-premios table tr:first-child th:first-child{
    -o-border-top-left-radius: 12px;
    -webkit-border-left-right-radius: 12px;
    -moz-border-top-left-radius: 12px;
    border-top-left-radius: 12px;        
}
.conteudo-premios table tr:first-child th:last-child{
    -o-border-top-right-radius: 12px;
    -webkit-border-top-right-radius: 12px;
    -moz-border-top-right-radius: 12px;
    border-top-right-radius: 12px;    
}
.conteudo-premios table th{
    background-color:#0095da;
    color:#fff;
    font-weight: bold;
    border:1px #FFF solid;
    padding-left: 15px;
}

.conteudo-premios table tr td{
    background-color:#e5e5e5;
    border:1px #FFF solid;
    padding:10px;
}
.conteudo-premios table tr td.colocacao{
    font-size:24px;
    font-weight: bold;
    text-align:center;
}
.conteudo-premios table tr td:last-child{ text-align:center; }
.conteudo-premios table tr td:last-child a{ text-decoration: none; font-weight: bold;}
.conteudo-premios table tr td:last-child a,
.conteudo-premios table tr td:last-child a:visited,
.conteudo-premios table tr td:last-child a:active{ color:#6a7175; }
.conteudo-premios table tr td:last-child a:hover{}