/*.centropad.main-programacao{
    padding:0 !important;
    width:980px;
}
.conteudo{
    width:695px !important;
    margin-left:5px !important;
}
#widget-nav{
    width:678px !important;
    margin:auto;
}*/

.submenu-programacao{
    margin:8px 0 35px 0;
    list-style: none;
    font-family:'Bliss','Arial',sans-serif;
    font-size:16px;
    font-weight: bold;
}

.submenu-programacao li{
    height:29px;
    line-height: 29px;
    
}

.submenu-programacao li a{
    text-decoration:none;
    display:block;
    padding-left:18px;
}

.submenu-programacao li a,
.submenu-programacao li a:active,
.submenu-programacao li a:visited{
    color:#787d82;
}

.submenu-programacao li.subativo,
.submenu-programacao li:hover{
    background:url('../_imgs/layout/seta-azul-claro.png') transparent left center no-repeat;
}
.submenu-programacao li.subativo a,
.submenu-programacao li:hover a{
    color:#00427a;
}

.faixa-sob-item-menu{
    background-color:#dadada;
    height: 3px;
}
.faixa-sob-item-menu div{
    float:left; border-right:1px #f7f7f5 solid; background-color: #00427a; height: 3px; width:16px; 
}

.conteudo table{
    font-size:11px;
    font-family:'Arial',sans-serif;
    color:#686d72;
    width:100%;
    border-top:5px #9bb9ca solid;
    margin-top:15px;
}
.conteudo table th,
.conteudo table td{ width:auto; }
.conteudo table:last-child{border:0; margin:0;}
.conteudo table th{
    background-color:#c5dae6;
    font-family:'Trebuchet MS','Arial',sans-serif;
    color:#00427a;
    font-size:16px;
    font-weight: bold;
    border-top:1px #FFF solid;
    border-bottom:1px #b5cedd solid;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.conteudo table td{
    padding:5px 5px 10px 15px;
    background-color:#eeeeed;
    border-right:1px #a9acaf solid;
    border-bottom:1px #d8d8d8 solid;
    vertical-align: top;
    min-width:24%;
}
.conteudo table tr.azul td{
    padding:0 0 0 15px;
    background-color:#d8eaf3;
    border-bottom:1px #FFF solid;
    height: 20px;
    line-height: 20px;
    color:#00427a;
}
.conteudo tfoot tr td{
    padding:0 !important;
    text-align:center;
    background-color:#8d8a8a;
    height: 28px;    
    line-height: 28px;
    color:#FFF;
}
.conteudo table tr td:last-child{
    border-right:0;
}
.conteudo table tr td:first-child{ padding:5px 0 0 0; text-align:center;}
.conteudo table tr.azul td:first-child{ padding:0 0 0 10px; }