#menu-lateral h3{ margin-bottom:30px;}

#down-publi{
    width:166px;
    height: 57px;
    position:relative;
    display:block;
}

#down-publi img{
    position:absolute;
}

#publicacoes-banner{
    height: 325px;
    background:url('../_imgs/publicacoes/capa-pequena.png?a=1') 0px center no-repeat;
}
#publicacoes-banner p{
    font-size:11px;
    font-family:'Trebuchet MS','Arial',sans-serif;
    color:#686d72;
    width:295px;
    line-height: 130%;
    margin-bottom:20px;
}
#publicacoes-banner p:first-child{
    font-size:16px;
}

#float-wrapper{
    float:right;
    margin-top:20px;
}

#publi-destaques h3{
    color:#00427a;
    font-size:16px;
    font-family:'Bliss','Arial',sans-serif;
    font-weight: bold;
}

#publi-destaques ul{
    margin:15px 0 25px 0;
}

#publi-destaques ul li{
    margin:10px 0;
    height: 85px;
    display:block;
}

#publi-destaques ul li img{
    float:left;
}

#publi-destaques ul li .destaque-texto{
    margin-left:115px;
    border-bottom:1px #d3d3d3 solid;
    height: 84px;
    font-size:11px;
    font-family:'Arial',sans-serif;
    color:#686d72;
}

#publi-destaques ul li .destaque-texto strong{
    font-weight:bold;
    font-size:16px;
    font-family:'Trebuchet MS','Arial',sans-serif;
    color:#686d72;
}

#link-todas:hover,
#link-anos a:hover,
#link-anos a.link-anos-ativo{
    color:#00427A !important;
}
#link-anos a.link-anos-ativo{ font-weight:bold;}

#link-anos,
#link-todas{
    font-family: 'Bliss','Arial',sans-serif;
    font-size:16px;
    color:#9f9b9b;
    text-decoration: none;
    margin-right:20px;
}
#link-todas:active,
#link-todas:visited{color:#9f9b9b;}

#link-anos a,
#link-anos a:active,
#link-anos a:visited{
    text-decoration: none;
    color:#9f9b9b;
    font-size:14px !important;
}

h2{
    display:inline;
    font-family:'Bliss','Arial',sans-serif;
    font-weight:bold;
    font-size:16px;
    color:#00427a;
    margin-right:10px;
}

#veja-tambem{padding-left:20px;}
#veja-tambem h1{
    margin-left:30px;
}

#veja-tambem .veja-tambem-link{
    width:295px;
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:top;
    padding-left:156px;
    padding-right:10px;
    font-size:11px;
    font-family:'Arial',sans-serif;
    margin:15px 0 30px 0;
    height: 110px;
}

#veja-tambem .veja-tambem-link h2{
    font-family:'Bliss','Arial',sans-serif;
    font-size:16px;
    color:#00427a;
    font-weight:bold;
}
#veja-tambem .veja-tambem-link a{
    text-decoration:none;
    color:#8b8888;
    display:block;
    width:100%;
    height: 120px;
}
#veja-tambem .veja-tambem-link a:active,
#veja-tambem .veja-tambem-link a:visited{
    color:#8b8888;
}

#veja-tambem .veja-tambem-link .dwnlink, #veja-tambem .veja-tambem-link .dwnlink2{
    margin-top:10px;
    position:absolute;
}

#veja-tambem .veja-tambem-link.pesquisa{background: url('../_imgs/publicacoes/anuario.jpg') left top no-repeat;}
#veja-tambem .veja-tambem-link.catalogo{background: url('../_imgs/publicacoes/pesquisa-img.jpg') left top no-repeat;}