.conteudo-evento-congresso #widget-nav{ width: 678px; margin-top:30px;}
/*.conteudo-evento-congresso #widget-nav #widget-nav-right{background-color:#ECECEA;}*/
.conteudo-programacao #widget-nav,
.conteudo-publicacoes #widget-nav,
.conteudo-evento #widget-nav{margin-left:-14px !important;}

#widget-nav{
    width:100%;
    min-width:678px;
    height: 126px;
    overflow: hidden;
    font-size:0;
    position:relative;
    margin-top:10px;
}
.large-widget #widget-nav{ width:992px !important;}
#widget-nav img{
    border:0;
    margin:0;
}
#widget-nav #widget-nav-left{
    width:25px;
    height: 125px;
    position:absolute;
    z-index:99;
    left:0;
    top:0;
    background:url('../_imgs/layout/seta-esquerda2.png') #F8F8F8 top left no-repeat;
}
#widget-nav #widget-nav-left:hover{cursor:pointer;}

#widget-nav #widget-nav-right{
    right:0;
    top:0;
    width:25px;
    height: 125px;
    position:absolute;
    z-index:99;
    background:url('../_imgs/layout/seta-direita2.png') #F8F8F8 top left no-repeat;
}
#widget-nav #widget-nav-right:hover{cursor:pointer;}
#widget-nav #widget-inner{
    padding-left:25px;
    padding-right:25px;
    height: 126px;
    position:relative;
    white-space: nowrap;
    margin-bottom:20px;
}
#widget-nav #widget-inner .palest{
    display:inline-block;
    *display:inline;
    zoom:1;
    width:157px;
    height: 125px;
    position:relative;
}

#widget-nav #widget-inner .palest a{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:157px;
    height:125px;
}
#widget-nav #widget-inner .palest a img{
    position:absolute;
    top:0;
    left:0;
}
#widget-nav #widget-inner .palest img.on{ z-index:1; }
#widget-nav #widget-inner .palest img.off{ z-index:9; }
#widget-nav #widget-inner .palest .palest-legenda{
    position:absolute;
    z-index:9999;
    bottom:0;
    left:0;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,.6);
    height: 33px;
    line-height: 33px;
    width:157px;
    color:#FFF;
    text-align:center;
    font-size:12px;
    font-family: 'Bliss','Arial',sans-serif;
    display:none;
}
#widget-nav.public-widget{height: 143px; margin:20px auto 50px auto; width:589px;}
#widget-nav.public-widget #widget-nav-left{
    height: 143px;
    background:url('../_imgs/layout/seta-esquerda2-grande.png') #F6F6F6 top left no-repeat;
}
#widget-nav.public-widget #widget-nav-right{
    height: 143px;
    background:url('../_imgs/layout/seta-direita2-grande.png') #F6F6F6 top left no-repeat;
}
#widget-nav.public-widget .thumbs{
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align: top;
}
#widget-nav.public-widget #widget-inner{
    width:881px;
}
#widget-nav.public-widget #widget-inner img{
    width:108px;
    height: 143px;
}