@font-face {
    font-family: 'Bliss';
    src: url('bliss2b-webfont.eot');
    src: url('bliss2b-webfont.eot?#iefix') format('embedded-opentype'),
         url('bliss2b-webfont.woff') format('woff'),
         url('bliss2b-webfont.ttf') format('truetype'),
         url('bliss2b-webfont.svg#Bliss2Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss';
    src: url('bliss2l-webfont.eot');
    src: url('bliss2l-webfont.eot?#iefix') format('embedded-opentype'),
         url('bliss2l-webfont.woff') format('woff'),
         url('bliss2l-webfont.ttf') format('truetype'),
         url('bliss2l-webfont.svg#Bliss2Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

